/**
 * @author [%author%]
 * @date [%date%]
 * @Description: 全局的scss的变量
 */
// 颜色
$success-color: #67C23A;
$fail-color: #F56C6C;
$active-color: #409EFF;


// 宽度
$content-width: 1280px;
$header-height: 60px;

// 吸附高度
$pagination-footer-height:40px;
